
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.error {
  padding: 10px;
  color: crimson;
  border: 1px dotted crimson;
}

.success {
  padding: 10px;
  color: limegreen;
  border: 1px dotted limegreen;
}